<ion-content>
  <app-chef-layout>
    <div class="profile-head clearfix">
      <h5>{{ user?.fname }} {{ user?.lname }}</h5>
      <h6><i class="fa fa-mobile-phone"></i> {{ user?.phone }}</h6>
    </div>
    <div class="row clearfix">
      <div class="col-12">
        <div class="dash-title"><i class="fa fa-cutlery"></i> {{ "refer_chef.title" | translate }}</div>
        <p class="dash-content">{{ "refer_chef.p1" | translate }}</p>
        <p class="dash-content">{{ "refer_chef.p2" | translate }} {{ "refer_chef.p3" | translate }}</p>
        <p class="dash-content">{{ "refer_chef.p4" | translate }}.</p>
        <div class="col-12">
          <table class="table">
            <thead class="thead-light">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngIf="!!referralListing && referralListing.length > 0">
              <tr *ngFor="let referral of referralListing">
                <td>{{ referral?.fname }}</td>
                <td>{{ referral?.email }} [{{ referral?.user_referal_code }}]</td>
                <td>{{ referral?.status == 0 ? 'Active' : 'Inactive' }}</td>
              </tr>
            </ng-container>
            <!--<tr>
              <td>Mark</td>
              <td>otto@gmail.com</td>
              <td>Active</td>
            </tr>
            <tr>
              <td>Jacob</td>
              <td>thornton@hotmail.com</td>
              <td>Pending</td>
            </tr>
            <tr>
              <td>Larry</td>
              <td>the-bird@yahoo.co.in</td>
              <td>Inactive</td>
            </tr>-->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </app-chef-layout>
</ion-content>