<ion-content>
  <app-chef-layout>
    <div class="profile-head clearfix">
      <h5>{{ user?.fname }} {{ user?.lname }}</h5>
      <h6><i class="fa fa-mobile-phone"></i> {{ user?.phone }}</h6>
    </div>
    <div class="row clearfix">
      <div class="col-12">
        <div class="dash-title"><i class="fa fa-cutlery"></i> {{ "support.title" | translate }}</div>
        <p class="dash-content">{{ "support.p1" | translate }}</p>
        <p class="dash-content">{{ "support.p2" | translate }}</p>
      </div>
    </div>
  </app-chef-layout>
</ion-content>
