<section>
  <div class="container">
    <div class="row clearfix">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h1>Dashbord</h1>
      </div>
    </div>
    <div>
      <form method="post">
        <div class="row">
          <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="profile-img">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
              <div class="file btn btn-lg btn-primary">
                Change Photo
                <input type="file" name="file"/>
              </div>
            </div>
            <div class="nav-side-menu">
              <div class="menu-list">
                <ul id="menu-content" class="menu-content collapse out">
                  <li data-toggle="collapse" data-target="#dashboard" class="collapsed"><a href="javascript:void(0)"><i class="fa fa-dashboard fa-lg"></i> Dashboard <span class="arrow"></span></a></li>
                  <ul class="sub-menu collapse" id="dashboard">
                    <li [routerLink]="['/start-page']">Startpage</li>
                    <li [routerLink]="['/referral']">Yper Sharing</li>
                    <li [routerLink]="['/my-referral']">My Refferals</li>
                    <li><a href="yper-member-upgrade.html">Yper Member Upgrade</a></li>
                    <li [routerLink]="['/support']">Yper Support</li>
                  </ul>
                  <li data-toggle="collapse" data-target="#earnings" class="collapsed"><a href="javascript:void(0)"><i class="fa fa-money fa-lg"></i> My Earnings <span class="arrow"></span></a></li>
                  <ul class="sub-menu collapse" id="earnings">
                    <li [routerLink]="['/quick-pay']">Quick Pay</li>
                    <li [routerLink]="['/week-pay']">2nd Week Pay</li>
                    <li [routerLink]="['/common-tips']"><a href="javascript:void(0)">Common Tips</a></li>
                    <li [routerLink]="['/chef-my-earning']">Total Income</li>
                  </ul>
                  <li [routerLink]="['/my-bookings']"><a href="javascript:void(0)"><i class="fa fa-calendar fa-lg"></i> My Booking</a></li>
                  <li [routerLink]="['/business-concept']"><a href="javascript:void(0)"><i class="fa fa-briefcase fa-lg"></i> Business Concept</a></li>
                  <li><a href="chat-list.html"><i class="fa fa-comment fa-lg"></i> Chat List</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-9 col-md-8 col-lg-9 col-xl-9">
            <ng-content></ng-content>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<app-footer></app-footer>
