<ion-content>
  <app-chef-layout>
    <div class="profile-head clearfix">
      <h5>{{ user?.fname }} {{ user?.lname }}</h5>
      <h6><i class="fa fa-mobile-phone"></i> {{ user?.phone }}</h6>
    </div>
    <div class="row clearfix">
      <div class="col-12">
        <div class="dash-title"><i class="fa fa-cutlery"></i> {{ "refral.title" | translate }}</div>
        <p class="dash-content">{{ "refral.p1" | translate }}</p>
        <p class="dash-content">{{ "refral.p2" | translate }}
          <br />{{ "refral.b" | translate }}</p>
        <p class="dash-content">
          {{ "refral.p3" | translate }}</p>
        <p class="dash-content">{{ "refral.p4" | translate }}</p>
        <p class="dash-content">
          <strong>{{ "refral.strong1" | translate }}</strong> {{ "refral.p5" | translate }}
          <strong> {{ "refral.strong2" | translate }}</strong>
        </p>
        <!-- <p class="dash-content">{{ "refral.p6" | translate }}</p>
        <p class="dash-content">{{ "refral.p7" | translate }}</p> -->
        <p class="dash-content">
          <strong>{{ "refral.p8" | translate }}</strong>

        </p>
        <p class="dash-content"><strong>{{ "refral.p9" | translate }}</strong></p>
        <div>
          <p class="dash-content">{{ "refral.p10" | translate }}</p>
          <p class="dash-content">{{ "refral.p11" | translate }}</p>
          <p class="dash-content">{{ "refral.p12" | translate }}</p>
          <p class="dash-content">{{ "refral.p13" | translate }}</p>
          <p class="dash-content">{{ "refral.p14" | translate }}</p>
        </div>
        <p class="dash-content">
          <br/>
          <strong>{{ "refral.strong3" | translate }}</strong>
        </p>
        <div>
          <p class="dash-content">{{ "refral.p15" | translate }}</p>
          <p class="dash-content">{{ "refral.p16" | translate }}</p>
          <p class="dash-content">{{ "refral.p17" | translate }}</p>
        </div>
        <p class="dash-content">
          <br/>
          <strong>{{ "refral.strong4" | translate }}</strong>
        </p>
        <div>
          <p class="dash-content">{{ "refral.p18" | translate }}</p>
          <p class="dash-content">{{ "refral.footer" | translate }}</p>
        </div>
      </div>
    </div>
  </app-chef-layout>
</ion-content>
