<ion-content>
  <app-chef-layout
          [uploadImg]="true"
          [imageURI]="user?.user_image"
          [displayImage]="userImage"
          (onHandleUpload)="handleUpload($event)">
    <div class="profile-head clearfix">
      <h5>{{ user?.fname }} {{ user?.lname }}</h5>
      <h6><i class="fa fa-mobile-phone"></i> {{ user?.phone }}</h6>
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link" [ngClass]="{ 'active': index === 0 }" (click)="index = 0" id="om-tab" data-toggle="tab" href="#om" role="tab" aria-controls="Om">{{ "profile_mangement.title" | translate }}</a></li>
        <li class="nav-item"><a class="nav-link" [ngClass]="{ 'active': index === 1 }" (click)="index = 1" data-toggle="tab" href="#Innstillinger" role="tab" aria-controls="Innstillinger">{{ "settings.title" | translate }}</a></li>
        <li class="nav-item"><a class="nav-link" [ngClass]="{ 'active': index === 2 }" (click)="index = 2" data-toggle="tab" href="#byttpassord" role="tab" aria-controls="ByttPassord">{{ "change_password.head" | translate }}</a></li>
      </ul>
        <div class="tab-content profile-tab" id="ProfileTab">
        <!-- Tab 1 -->
            <div class="tab-pane fade" [ngClass]="{'show active': index === 0}" id="om" role="tabpanel" aria-labelledby="om">
                <div class="row clearfix">
                    <div class="col-12">
<!--                        <div class="dash-title"><i class="fa fa-cutlery"></i>Manage Profile</div>-->
                        <div class="row clearfix" [formGroup]="profileForm">
                            <!--          <form method="post" action="" id="editProfile" role="form">-->
                            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fa fa-user"></i>
                                </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder='{{ "fname" | translate }}' formControlName="fname" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fa fa-user"></i>
                                </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder='{{ "lname" | translate }}' formControlName="lname" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fa fa-phone"></i>
                                </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder='{{ "phone" | translate }}' formControlName="phone" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <div class="form-group bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fa fa-flag"></i>
                                </span>
                                        </div>
                                        <select class="form-control" id="county" name="county" formControlName="country">
                                            <!--                    <option value="0">{{ 'hire_chef.step7.county' | translate }}</option>-->
                                            <option *ngFor="let ctry of country" value="{{ ctry?.id }}">{{ ctry?.name }}</option>
                                        </select>
                                        <!--                  <input type="text" class="form-control" placeholder="">-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <div class="form-group bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fa fa-flag"></i>
                                </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder='{{ "city" | translate }}' formControlName="city">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                <div class="form-group bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fa fa-map-marker"></i>
                                </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder='{{ "address" | translate }}' formControlName="address">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="form-group bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fa fa-comment"></i>
                                </span>
                                        </div>
                                        <textarea class="form-control" id="message" name="message" placeholder='{{ "about" | translate }}' formControlName="aboutMe" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <input type="submit" name="submit" class="btn btn-primary" value='{{ "submit" | translate }}' (click)="updateUserProfile()"/>
                            </div>
                            <!--          </form>-->
                        </div>
                    </div>
                </div>
            </div>

        <!-- Tab 2 -->
        <div class="tab-pane fade" [ngClass]="{'show active': index === 1}" id="Innstillinger" role="tabpanel" aria-labelledby="Innstillinger">
            <div class="row clearfix">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="border-box form-group">
                        <i class="fa fa-bell"></i> Varsling
                        <span class="pull-right">
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="VarslingOn" name="versling" class="custom-control-input" (click)="updateNotification('1')" [checked]="user?.push_notification_settings == '1'">
                              <label class="custom-control-label" for="VarslingOn">On</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="VarslingOff" name="versling" class="custom-control-input" (click)="updateNotification('0')" [checked]="user?.push_notification_settings == '0'">
                              <label class="custom-control-label" for="VarslingOff">Off</label>
                            </div>
                          </span>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="border-box"><a href="javasacript:void(0);" (click)="showPrivacy()"><i class="fa fa-bullhorn"></i> Personvernregler</a></div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="border-box">
                        <i class="fa fa-globe"></i> Sprak
                        <span class="pull-right">
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="SprakEnglish" name="sprak" class="custom-control-input" (click)="changeLanguage('en')" [checked]="currLng == 'en'">
                              <label class="custom-control-label" for="SprakEnglish">English</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="SprakNorwegian" name="sprak" class="custom-control-input" (click)="changeLanguage('pcm')" [checked]="currLng == 'pcm'">
                              <label class="custom-control-label" for="SprakNorwegian">Norwegian</label>
                            </div>
                          </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tab 3 -->
            <div class="tab-pane fade" [ngClass]="{'show active': index === 2}" id="byttpassord" role="tabpanel" aria-labelledby="bytt-passord">
                <div class="row clearfix">
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mb-3">
                        <input type="password" class="form-control" name="gammeltPassord" id="gammeltPassord" placeholder='{{ "change_password.current" | translate }}' [(ngModel)]="oldPass"/>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mb-3">
                        <input type="password" class="form-control" name="NyttPassord" id="NyttPassord" placeholder='{{ "change_password.new" | translate }}' [(ngModel)]="newPass"/>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 mb-3">
                        <input type="password" class="form-control" name="bekreftPassord" id="bekreftPassord" placeholder='{{ "change_password.retype" | translate }}' [(ngModel)]="confirmPass"/>
                    </div>
                    <div class="col-12">
                        <input type="submit" id="submit" name="submit" class="btn btn-primary" value="Sende Inn" (click)="changePassword()"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

  </app-chef-layout>
</ion-content>

<ng-template #noReviewTpl>
  <div><p>No one reviewed yet.</p></div>
</ng-template>
<ng-template #loadingTpl>
  <app-uic-skeleton></app-uic-skeleton>
</ng-template>
