<div id="recipeDetails">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-end">
        <ion-button fill="clear" color="dark" (click)="dismiss()">
          <span aria-hidden="true" style="font-size: 20px;">&times;</span>
        </ion-button>
      </div>
      <div class="modal-body modal-scroll-y modal-long-max">
        <div class="row clearfix">
          <div class="col-12 col-sm-12 col-lg-12 col-xl-12">
            <div class="modaltitle"> {{ "privacy_polcy.title" | translate }} </div>
            <!-- <p class="modalcontent"> -->
            <div>
              <h5>{{ "chef_privacy_policy.h1" | translate }}</h5>
              <p style="text-align: center;">{{ "chef_privacy_policy.p1" | translate }}</p>
              <h5>{{ "chef_privacy_policy.h2" | translate }}</h5>
              <p no-margin>{{ "chef_privacy_policy.p2" | translate }}</p>
              <p>{{ "chef_privacy_policy.p3" | translate }}</p>

              <h5>{{ "chef_privacy_policy.h3" | translate }}</h5>
              <p no-margin>{{ "chef_privacy_policy.p4" | translate }}</p>
              <p>{{ "chef_privacy_policy.p5" | translate }}</p>
              <h5>{{ "chef_privacy_policy.h4" | translate }}</h5>
              <p>{{ "chef_privacy_policy.p6" | translate }}</p>

              <h5>{{ "chef_privacy_policy.h5" | translate }}</h5>
              <p>{{ "chef_privacy_policy.p7" | translate }}</p>
              <p no-margin>{{ "chef_privacy_policy.p8" | translate }}</p>
              <p no-margin>{{ "chef_privacy_policy.p9" | translate }}</p>
              <p no-margin>{{ "chef_privacy_policy.p10" | translate }}</p>
              <p no-margin>{{ "chef_privacy_policy.p11" | translate }}</p>
              <p no-margin>{{ "chef_privacy_policy.p12" | translate }}</p>
              <p no-margin>{{ "chef_privacy_policy.p13" | translate }}</p>
              <p no-margin>{{ "chef_privacy_policy.p14" | translate }}</p>

              <h5>{{ "chef_privacy_policy.h6" | translate }}</h5>
              <p no-margin>{{ "chef_privacy_policy.p15" | translate }}</p>
              <p no-margin>{{ "chef_privacy_policy.p16" | translate }}</p>
              <p no-margin>{{ "chef_privacy_policy.p17" | translate }}</p>
              <p>{{ "chef_privacy_policy.p18" | translate }}</p>

              <h5>{{ "chef_privacy_policy.h7" | translate }}</h5>
              <h4>{{ "chef_privacy_policy.h7_1" | translate }}</h4>
              <p>{{ "chef_privacy_policy.p19" | translate }}</p>

              <h5>{{ "chef_privacy_policy.h8" | translate }}</h5>
              <h4>{{ "chef_privacy_policy.h8_1" | translate }}</h4>
              <p>{{ "chef_privacy_policy.p20" | translate }}</p>
              <p>{{ "chef_privacy_policy.p21" | translate }}</p>

              <h4>{{ "chef_privacy_policy.h9" | translate }}</h4>
              <p>{{ "chef_privacy_policy.p22" | translate }}</p>

              <h4>{{ "chef_privacy_policy.h10" | translate }}</h4>
              <p>{{ "chef_privacy_policy.p23" | translate }}</p>

              <h5>{{ "chef_privacy_policy.h11" | translate }}</h5>
              <p no-margin>{{ "chef_privacy_policy.p24" | translate }}</p>
              <p>{{ "chef_privacy_policy.p25" | translate }}</p>
              <p>{{ "chef_privacy_policy.p26" | translate }}</p>

              <h5>{{ "chef_privacy_policy.h12" | translate }}</h5>
              <p>{{ "chef_privacy_policy.p27" | translate }}</p>

              <h5>{{ "chef_privacy_policy.h13" | translate }}</h5>
              <p>{{ "chef_privacy_policy.p28" | translate }}</p>

              <h5>{{ "chef_privacy_policy.h14" | translate }}</h5>
              <p>{{ "chef_privacy_policy.p29" | translate }}</p>
            </div>
            <!-- </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
