<ion-content>
  <app-chef-layout>
    <div class="profile-head clearfix">
      <h5>{{ user?.fname }} {{ user?.lname }}</h5>
      <h6><i class="fa fa-mobile-phone"></i> {{ user?.phone }}</h6>
    </div>
    <div class="row clearfix">
      <div class="col-12">
        <div class="dash-title"><i class="fa fa-cutlery"></i> {{ "total_income.title" | translate }}</div>
        <p class="dash-content">{{ "total_income.p1" | translate }}</p>
      </div>
      <div class="col-12">
        <ul class="list-group mtb10">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ "total_income.title" | translate }}
            <span class="badge badge-primary badge-pill">
              {{ totalIncome | number:'1.2-2' }} Nok
            </span>
          </li>
        </ul>
      </div>
      <div class="col-12">
        <table class="table table-striped" *ngIf="!loading else loadingTpl">
          <tbody>
            <ng-container *ngIf="!!arrIncome && arrIncome.length > 0">
              <tr *ngFor="let income of arrIncome">
                <th><i class="fa fa-user-circle-o"></i></th>
                <td>{{ income?.fname }}</td>
                <td>{{ income?.book_date }}</td>
                <td>{{ income?.ammount | number:'1.2-2' }}</td>
              </tr>
            </ng-container>
            <!--<tr>
              <th><i class="fa fa-user-circle-o"></i></th>
              <td>Mark</td>
              <td>31 July 2018</td>
              <td>2400.00Nok</td>
            </tr>
            <tr>
              <th><i class="fa fa-user-circle-o"></i></th>
              <td>Jacob</td>
              <td>11 August 2018</td>
              <td>400.00Nok</td>
            </tr>
            <tr>
              <th><i class="fa fa-user-circle-o"></i></th>
              <td>Larry</td>
              <td>23 August 2018</td>
              <td>200.00Nok</td>
            </tr>-->
          </tbody>
        </table>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="!!arrIncome">
          <div class="text-center">
            <ul class="pagination">
              <li class="page-item" *ngIf="params.page > 0"><a class="page-link" href="javascript:void(0)" (click)="goPreviousList()">Previous</a></li>
              <li class="page-item" [ngClass]="{'active': i === params.page}" *ngFor="let no of Arr(totalPage).fill(1); let i = index;">
                <a class="page-link" href="javascript:void(0)" (click)="getNewList(i)">{{ i + 1 }}</a>
              </li>
              <li class="page-item" *ngIf="params.page + 1 < totalPage"><a class="page-link" href="javascript:void(0)" (click)="goNextList()">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </app-chef-layout>
</ion-content>

<ng-template #loadingTpl>
  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  <ion-skeleton-text animated></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  <ion-skeleton-text animated></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  <ion-skeleton-text animated></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  <ion-skeleton-text animated></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  <ion-skeleton-text animated></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
  <ion-skeleton-text animated></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
</ng-template>
