<div id="recipeDetails">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-end">
        <ion-button fill="clear" color="dark" (click)="dismiss()">
          <span aria-hidden="true" style="font-size: 20px;">&times;</span>
        </ion-button>
      </div>
      <div class="modal-body modal-scroll-y modal-long-max">
        <div class="row clearfix">
          <div class="col-12 col-sm-12 col-lg-12 col-xl-12">
            <div class="modaltitle"> {{ "privacy_polcy.title" | translate }} </div>
            <!-- <p class="modalcontent"> -->
              <div>
                <h5>{{ "privacy_polcy.h1" | translate }}</h5>
                <p style="text-align: center;">{{ "privacy_polcy.p1" | translate }}</p>
                <h5>{{ "privacy_polcy.h2" | translate }}</h5>
                <p no-margin>{{ "privacy_polcy.p2" | translate }}</p>
                <p>{{ "privacy_polcy.p3" | translate }}</p>

                <h5>{{ "privacy_polcy.h3" | translate }}</h5>
                <p no-margin>{{ "privacy_polcy.p4" | translate }}</p>
                <p>{{ "privacy_polcy.p5" | translate }}</p>

                <h5>{{ "privacy_polcy.h4" | translate }}</h5>
                <p>{{ "privacy_polcy.p6" | translate }}</p>

                <h5>{{ "privacy_polcy.h5" | translate }}</h5>
                <p>{{ "privacy_polcy.p7" | translate }}</p>
                <p no-margin>{{ "privacy_polcy.p8" | translate }}</p>
                <p no-margin>{{ "privacy_polcy.p9" | translate }}</p>
                <p no-margin>{{ "privacy_polcy.p10" | translate }}</p>
                <p no-margin>{{ "privacy_polcy.p11" | translate }}</p>
                <p no-margin>{{ "privacy_polcy.p12" | translate }}</p>
                <p no-margin>{{ "privacy_polcy.p13" | translate }}</p>
                <p no-margin>{{ "privacy_polcy.p14" | translate }}</p>

                <h5>{{ "privacy_polcy.h6" | translate }}</h5>
                <p no-margin>{{ "privacy_polcy.p15" | translate }}</p>
                <p no-margin>{{ "privacy_polcy.p16" | translate }}</p>
                <p no-margin>{{ "privacy_polcy.p17" | translate }}</p>
                <p>{{ "privacy_polcy.p18" | translate }}</p>

                <h5>{{ "privacy_polcy.h7" | translate }}</h5>
                <h4>{{ "privacy_polcy.h7_1" | translate }}</h4>
                <p>{{ "privacy_polcy.p19" | translate }}</p>

                <h5>{{ "privacy_polcy.h8" | translate }}</h5>
                <h4>{{ "privacy_polcy.h8_1" | translate }}</h4>
                <p>{{ "privacy_polcy.p20" | translate }}</p>
                <p>{{ "privacy_polcy.p21" | translate }}</p>

                <h4>{{ "privacy_polcy.h8_2" | translate }}</h4>
                <p>{{ "privacy_polcy.p22" | translate }}</p>

                <h4>{{ "privacy_polcy.h8_3" | translate }}</h4>
                <p>{{ "privacy_polcy.p23" | translate }}</p>

                <h5>{{ "privacy_polcy.h9" | translate }}</h5>
                <p no-margin>{{ "privacy_polcy.p24" | translate }}</p>
                <p no-margin>{{ "privacy_polcy.p25" | translate }}</p>
                <p>{{ "privacy_polcy.p26" | translate }}</p>


                <h5>{{ "privacy_polcy.h10" | translate }}</h5>
                <p>{{ "privacy_polcy.p27" | translate }}</p>

                <h5>{{ "privacy_polcy.h11" | translate }}</h5>
               <p>{{ "privacy_polcy.p28" | translate }}</p>

            <h5>{{ "privacy_polcy.h12" | translate }}</h5>
            <p>{{ "privacy_polcy.p29" | translate }}</p>
          </div>
            <!-- </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
