<ng-container>
  <footer>
    <div class="over"></div>
    <div class="container">
      <div class="row clearfix">
        <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <div class="fthead">Om YperKokk</div>
          <ul class="ftlink clearfix">
            <li><a href="#">Slik Fungerer Det</a></li>
            <li><a href="#">Hvor Finne SuperKokkene</a></li>
            <li><a href="#">Kokkene</a></li>
            <li><a href="#">Partnere og Leverandører</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <div class="fthead">Vårt Klokke Register</div>
          <ul class="ftlink1 clearfix">
            <li><a href="#">Kokkene</a></li>
            <li><a href="#">Stavanger</a></li>
            <li><a href="#">Lillestrøm</a></li>
            <li><a href="#">Trondheim</a></li>
            <li><a href="#">Oslo</a></li>
            <li><a href="#">Ålesund</a></li>
            <li><a href="#">Bergen</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <div class="fthead">Tilleggtjenester</div>
          <ul class="ftlink clearfix">
            <li><a href="#">To Kokker Hjem</a></li>
            <li><a href="#">Middag For Over 15 Pers</a></li>
            <li><a href="#">Yper Catering</a></li>
            <li><a href="#">Partnere og Leverandører</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <div class="fthead">Kundeservice</div>
          <ul class="ftlink1 clearfix">
            <li><a href="#">Kontaktoss</a></li>
            <li><a href="#">Informasjonskapsler</a></li>
            <li><a href="#">Oftestiltespørsmål</a></li>
            <li><a href="#">Vilkår</a></li>
            <li><a href="#">Personvern</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="float"><a href="#"><img src="assets/images/app-store.png" class="img-fluid" /></a><a href="#"><img src="assets/images/play-store.png" class="img-fluid ml-10" /></a></div>
        </div>
      </div>
    </div>
  </footer>

  <div class="bottombar clearfix">
    <div class="container">
      <div class="row clearfix">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="ftlabel">Copyright © 2020 | Powered by : <a href="http://www.digiinteracts.com/" target="_blank">Digiinteracts.com</a></div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <ul class="slinks clearfix">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-snapchat-ghost"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-container>